<div class="container" style="display: flex; justify-content: center; flex-wrap: wrap; background-color: white; padding: 25px; height: 100%;">
    <div style="width: 60%;">
        
        
        <form [formGroup]="form">
            <h1 style="text-align: center;">Actualizar Datos Del Producto</h1>
            
            <div class="row">
                
                
                <div class="col-6">
                    <mat-form-field appearance="fill" >
                        <mat-label>Nombre</mat-label>
                        <input formControlName="nombre" type="text" matInput>
                    </mat-form-field>
                </div>
                
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Precio</mat-label>
                        <input formControlName="precio" type="number" matInput>
                    </mat-form-field>
                </div>
                
                <div class="col-3">
                    <mat-form-field appearance="fill">
                        <mat-label>Cantidad</mat-label>
                        <input formControlName="cantidad" type="number" matInput>
                    </mat-form-field>
                </div>
                
                <div class="col-3">
                    <mat-form-field appearance="fill">
                        <mat-label>Iva</mat-label>
                        <input formControlName="iva" type="number" matInput>
                    </mat-form-field>
                </div>
                
                <div class="col-3">
                    <mat-form-field appearance="fill">
                        <mat-label>retención</mat-label>
                        <input formControlName="retencion" type="number" matInput>
                    </mat-form-field>
                </div>
                
                <div class="col-3">
                    <mat-form-field appearance="fill">
                        <mat-label>Cantidad Minima</mat-label>
                        <input formControlName="cantidad_minima" type="number" matInput>
                    </mat-form-field>
                </div>
                
                <div class="col-12">
                    <mat-form-field appearance="fill">
                        <mat-label>Categoria</mat-label>
                        <mat-select formControlName="categoria">
                            <mat-option *ngFor="let cat of categorias" value="{{cat.id}}">{{cat.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div style="display: flex; justify-content: center; margin-bottom: 5px;">
                    <button [disabled]="form.invalid" class="btn btn-success btn-block"
                    (click)="editarProducto()">
                    Guardar
                </button>
                </div>

                <div style="display: flex; justify-content: center; margin-bottom: 5px;">
                    <a class="btn btn-danger" routerLink="/administracion/productos">Volver</a>
                </div>
                
        </div>
    </form>
</div>

</div>